@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>

<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-success col-6">Botón</button>
            <button class="btn btn-success col-2">Botón</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-success col-12">Botón</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-success col-3">Botón</button>
            <button class="btn btn-success col-3">Botón</button>
            <button class="btn btn-success col-3">Botón</button>
        </div>
    </div>

</div>